.header 
    .header_box
        %P.header_box_name 
            = current_user.name
        %ul.header_box_link
            %li.link 
                = link_to "#" do
                    = icon('fas', 'user')
            %li.link 
                = link_to edit_user_path(current_user) do
                    = icon('fas', 'edit')
.customers 
    .customer
        = link_to "#" do
            .costomer_loge 
            .costomer_company 株式会社吉田
            .customer_name 代表取締役：吉田
    .customer
        = link_to "#" do
            .costomer_loge 
            .costomer_company 株式会社吉田
            .customer_name 加藤
    .customer
        = link_to "#" do
            .costomer_loge 
            .costomer_company 株式会社吉田
            .customer_name 化学研究課：林
    .customer
        = link_to "#" do
            .costomer_loge 
            .costomer_company 株式会社吉田
            .customer_name 山本
    .customer
        = link_to "#" do
            .costomer_loge 
            .costomer_company NOP法人数学を愛す会
            .customer_name 中野
    .customer
        = link_to "#" do
            .costomer_loge 
            .costomer_company 社会福祉法人革命
            .customer_name 浅田
    .customer
        = link_to "#" do
            .costomer_loge 
            .costomer_company NOP法人日本歴史を愛す会
            .customer_name 荒山

        
